<html>
    <head>
        <style>
   .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   table,tr,td,th{
    border:2px solid black;
    border-collapse: collapse;
    padding:10px;
   }
        </style>
    </head>
    <body>
  <div class="container">
    <table>
      <tr>
        <th>Sr No.</th>
        <th>Project Name</th>
        <th>Project Link</th>
      </tr>
        <tr>
            <td>1</td>
            <td>Tic Tac Toe</td>
            <td><a href="/tic_tac_toe">tic tac toe</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>KUKU Cube</td>
          <td><a href="/kuku_cube">kuku_cube</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Login System</td>
          <td><a href="/login_system">Login System</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Async_Await Practice</td>
          <td><a href="/json_placeholder">json_placeholder</a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Simple Crud on Student Form</td>
          <td><a href="/simple_crud">Student form</a></td>
        </tr>
        <tr>
       <td>6</td>
       <td>Student Report</td>
       <td><a href="/report">Student Report</a></td>
        </tr>
        <tr>
          <td>7</td>
          <td>Dynamic Component grid</td>
          <td><a href="/grid">component grid</a></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Job Application Form</td>
          <td><a href="/job_app_form">job_application_form</a></td>
        </tr>
        <tr>
          <td>9</td>
          <td>Search Filters</td>
          <td><a href="/search_filter">search_filter</a></td>
        </tr>
        <tr>
          <td>10</td>
          <td>Simple Sorting</td>
          <td><a href="/sorting">Sorting</a></td>
        </tr>
        <tr>
          <td>11</td>
          <td>Adding and removing row, column dynamically</td>
          <td><a href="/dynamic_cube">dynamic table</a></td>
        </tr>
        <tr>
          <td>12</td>
          <td>Pagination</td>
          <td><a href="/pagi">pagination</a></td>
        </tr>
        <tr>
          <td>13</td>
          <td>Job Application with Ajax</td>
          <td><a href="/ajax_form">job_app_from_ajax</a></td>
        </tr>
        <tr>
          <td>14</td>
          <td>Java Script Events</td>
          <td><a href="/events">js_events</a></td>
        </tr>
        <tr>
          <td>15</td>
          <td>Dynamic form Components Creation</td>
          <td><a href="/dynamic_components">dynamic_components</a></td>
        </tr>
    </table>
  </div>
    </body>
</html>