<html>

<head>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .myform {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 20px 50px;
            border: 2px solid black;
            background-color: rgb(66, 185, 206);
            border: 2px solid black;
        }

        .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        label {
            font-size: 20px;
        }

        .err {
            color: red;
        }
        .sub_con{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .login{
            border:2px solid black;
            padding:5px 10px;
            text-decoration:none;
            color:white;
            background-color: rgb(36, 121, 160);
            border-radius: 5px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Kajal Soni</h1>
        <form class="myform" method="post" action="/pass" onsubmit="return validate()">
            <div class="col"><label for="upass">Enter Password</label><span class="err"></span><input type="text"
                    id="upass" name="upass" /></div>
            <div class="col"><label for="ucpass">Confirm Password</label><span class="err"></span><input type="password"
                    id="ucpass" name="ucpass" />
                <button type="button" onclick="showPass()">show</button>
            </div>
            <input type="hidden" id="id" name="id" value="<%=id%>" />
            <input type="hidden" id="otp" name="otp" value="<%=otp%>"/>
            <div><input type="submit" value="submit" /></div>
        </form>
        <h2 style="color:red"><%=errMsg%></h2>
        <div class="sub_con"></div>
    </div>
    <%if(isSuccess){%>
        <script>
        let sub_con=document.getElementsByClassName("sub_con")[0];
        sub_con.innerHTML+=`<h1 style="color:green">Password created successfully</h1>`
        sub_con.innerHTML+='<a class="login" href="/login">Login</a>'
        </script>
        <%}%>
            <script>
                function validate() {
                    let upass = document.getElementById("upass");
                    let ucpass = document.getElementById("ucpass");
                    if (upass.value == "") {
                        let div = upass.parentElement;
                        div.getElementsByTagName('span')[0].innerHTML = "please enter your password";
                        return false;
                    }
                    if (ucpass.value == "") {
                        let div = ucpass.parentElement;
                        div.getElementsByTagName('span')[0].innerHTML = "please enter confirm password";
                        return false;
                    }
                    if (upass.value != ucpass.value) {
                        let div = ucpass.parentElement;
                        div.getElementsByTagName('span')[0].innerHTML = "invalid confirm password";
                        return false;
                    }
                    return true;
                }
                function showPass() {
                    let ucpass = document.getElementById("ucpass");
                    if (ucpass.type == "password") {
                        ucpass.type = "text";
                    }
                    else {
                        ucpass.type = "password";
                    }
                }
            </script>
</body>

</html>